# Mongo

In [2]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages (3.11.0)

In [1]:
import pymongo

In [4]:
cliente=pymongo.MongoClient()  # cambiar aqui para Atlas, dentro los parentesis

db=cliente.nueva_db

In [6]:
cliente.list_database_names()

['admin',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local']

In [7]:
colec=db.n_colec

In [9]:
db.list_collection_names()

[]

In [10]:
dictio={'nombre':'Juan', 'edad':25}

colec.insert_one(dictio)

In [11]:
cliente.list_database_names()

['admin',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local',
 'nueva_db']

In [12]:
db.list_collection_names()

['n_colec']

In [13]:
colec.insert_many([{'nombre':'Pedro', 'edad':30},
                  {'nombre':'Javier', 'edad':45, 'altura':170}])

In [15]:
colec.insert_one({'_id':0, 'nombre':'Maria', 'edad':35})

In [17]:
list(colec.find())

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [18]:
list(colec.find().limit(2))

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30}]

In [19]:
list(colec.find({'edad':25}))

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25}]

In [20]:
list(colec.find({'edad':{'$gte':30}}))  # mayor o igual que...

[{'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [21]:
list(colec.find({'edad':{'$gt':30}}))   # estrictamente mayor que...

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [22]:
list(colec.find({'edad':{'$lte':30}}))  # menor o igual que...

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30}]

In [23]:
list(colec.find({'edad':{'$lt':30}}))   # estrictamente menor que...

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25}]

In [30]:
list(colec.find({'altura':{'$exists':True}}).sort('altura', -1))

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [31]:
colec.delete_one({'_id':0})

In [32]:
list(colec.find())

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [33]:
colec.delete_many({'edad':{'$lte':30}})

In [34]:
list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [36]:
colec.update({'nombre': 'Javier'}, {'$set':{'altura': 168}})

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [37]:
list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 168}]

In [38]:
colec.update_one({'nombre': 'Javier'}, {'$set':{'altura': 160}})

list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 160}]

In [39]:
colec.update({'nombre': 'Javier'}, {'$set':{'altura': 145}}, upsert=True)

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [40]:
colec.drop()

In [41]:
db.list_collection_names()

[]

**geoqueries**

# Encontramos tu oficina