# Mongo

In [2]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages (3.11.0)

In [1]:
import pymongo

In [4]:
cliente=pymongo.MongoClient()  # cambiar aqui para Atlas, dentro los parentesis

db=cliente.nueva_db

In [6]:
cliente.list_database_names()

['admin',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local']

In [7]:
colec=db.n_colec

In [9]:
db.list_collection_names()

[]

In [10]:
dictio={'nombre':'Juan', 'edad':25}

colec.insert_one(dictio)

In [11]:
cliente.list_database_names()

['admin',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local',
 'nueva_db']

In [12]:
db.list_collection_names()

['n_colec']

In [13]:
colec.insert_many([{'nombre':'Pedro', 'edad':30},
                  {'nombre':'Javier', 'edad':45, 'altura':170}])

In [15]:
colec.insert_one({'_id':0, 'nombre':'Maria', 'edad':35})

In [17]:
list(colec.find())

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [18]:
list(colec.find().limit(2))

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30}]

In [19]:
list(colec.find({'edad':25}))

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25}]

In [20]:
list(colec.find({'edad':{'$gte':30}}))  # mayor o igual que...

[{'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [21]:
list(colec.find({'edad':{'$gt':30}}))   # estrictamente mayor que...

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170},
 {'_id': 0, 'nombre': 'Maria', 'edad': 35}]

In [22]:
list(colec.find({'edad':{'$lte':30}}))  # menor o igual que...

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30}]

In [23]:
list(colec.find({'edad':{'$lt':30}}))   # estrictamente menor que...

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25}]

In [30]:
list(colec.find({'altura':{'$exists':True}}).sort('altura', -1))

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [31]:
colec.delete_one({'_id':0})

In [32]:
list(colec.find())

[{'_id': ObjectId('5fbd47d068836ac1b13802e9'), 'nombre': 'Juan', 'edad': 25},
 {'_id': ObjectId('5fbd485968836ac1b13802ea'), 'nombre': 'Pedro', 'edad': 30},
 {'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [33]:
colec.delete_many({'edad':{'$lte':30}})

In [34]:
list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 170}]

In [36]:
colec.update({'nombre': 'Javier'}, {'$set':{'altura': 168}})

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [37]:
list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 168}]

In [38]:
colec.update_one({'nombre': 'Javier'}, {'$set':{'altura': 160}})

list(colec.find())

[{'_id': ObjectId('5fbd485968836ac1b13802eb'),
  'nombre': 'Javier',
  'edad': 45,
  'altura': 160}]

In [39]:
colec.update({'nombre': 'Javier'}, {'$set':{'altura': 145}}, upsert=True)

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [40]:
colec.drop()

In [41]:
db.list_collection_names()

[]

**geoqueries**

In [42]:
from pymongo import MongoClient

In [47]:
cliente=MongoClient('mongodb://localhost:27017')

In [48]:
db=cliente.companies

In [49]:
al_menos_1_ofi=db.companies.find({'offices':{'$not':{'$size':0}}},
                                 {'name':1, '_id':0, 'offices':1})

In [50]:
import pandas as pd

df=pd.DataFrame(al_menos_1_ofi)
df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [51]:
df=df.dropna()

In [52]:
from pandas.io.json import json_normalize

jsnn=df.offices.apply(lambda x: json_normalize(x))


jsnn.head()

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

0      description              address1    address...
1        description          address1   address2 z...
2        description         address1   address2 zi...
3      description            address1 address2 zip...
4        description          address1 address2 zip...
Name: offices, dtype: object

In [53]:
display(jsnn[0])

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431

In [54]:
# extrae la primera oficina


def get_first(data):
    
    data=data.offices
    
    principal=None
    
    if data[0]['latitude'] and data[0]['longitude']:
        # geopunto, geoquery
        principal={'type':'Point', 'coordinates':[data[0]['longitude'],
                                                  data[0]['latitude']]}
        
    return {'totalOffices': len(data),
            'lat':data[0]['latitude'],
            'lng':data[0]['longitude'],
            'principal': principal}

In [55]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

first_office.head()

,totalOffices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [56]:
first_office=first_office.dropna()

In [57]:
df=pd.concat([df, first_office], axis=1).drop(columns=['offices'])

df.head()

,name,totalOffices,lat,lng,principal
0,Wetpaint,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,AdventNet,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Zoho,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,Digg,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Facebook,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [65]:
df=df.dropna()

In [66]:
db.first_office.insert_many(df.to_dict('records'))

In [67]:
db.first_office.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [68]:
def find_near(geopoint, radio=1000):
    
    return db.first_office.find({'principal':{'$near':{'$geometry':geopoint, '$maxDistance':radio}}})

In [74]:
park_avenue={'type':'Point', 'coordinates':[-74, 41]}

radio=10000

n_ofi=find_near(park_avenue, radio).count()

n_ofi

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

2

In [75]:
list(find_near(park_avenue, radio))

[{'_id': ObjectId('5fbd56a668836ac1b1385bce'),
  'name': 'Core Dynamics',
  'totalOffices': 1.0,
  'lat': 41.032802,
  'lng': -73.972888,
  'principal': {'type': 'Point', 'coordinates': [-73.972888, 41.032802]}},
 {'_id': ObjectId('5fbd56a668836ac1b1385ddc'),
  'name': 'Bookrags',
  'totalOffices': 1.0,
  'lat': 40.984763,
  'lng': -74.097254,
  'principal': {'type': 'Point', 'coordinates': [-74.097254, 40.984763]}}]

# Encontramos tu oficina

In [76]:
import re
import folium

In [81]:
query=db.companies.find({'$and':[
                    {'$or':[{'category_code':'games_video'},
                            {'category_code':'software'},
                            {'category_code':'web'},
                            {'category_code':'mobile'},
                            {'category_code':'ecommerce'},
                            {'category_code':'network_hosting'}]},

                    {'founded_year':{'$gte':1999}},
                    {'offices':{'$ne':[]}},
                    {'offices.latitude':{'$ne':[]}},
                    {'offices.longitude':{'$ne':[]}},
                    {'offices.latitude':{'$ne':None}},
                    {'offices.longitude':{'$ne':None}},
                    {'number_of_employees':{'$ne':None}},
                    {'total_money_raised':{'$ne':None}}
                ]   
                },



                    {'name':1, '_id':0, 'offices.latitude':1, 'offices.longitude':1,
                     'founded_year':1, 'category_code':1, 'number_of_employees':1, 'total_money_raised':1})

In [82]:
len(list(query))

2806