# TOP 500 supercomputer mining - Challenge 1

# 1-A

In this challenge you will mine top500 website to retrieve information on the most powerfull supercomputer of the last years.

Your task is to scrape information for the top 500 supercomputers from 2014 to 2018. The information should include:

* **Rank**

* **Name**

* **Year**

* **Description**

* **Company**

* **Country**

* **Cores**

* **RMax (TFlops/s)**

* **RPeak (TFlops/s)**

* **Power (kW)**


The root url is the following:
https://www.top500.org/


You need to navigate the web in order to extract all information for 2500 supercomputers. As an example, the first urls are:

https://www.top500.org/lists/2014/11/?page=1


https://www.top500.org/list/2014/11/?page=2



Write code that do the following:
1. Look for the url to scrape.
2. Make request.
3. Return HTML string.
4. Parse and extract all features. Create a dictionary with these fields.
5. Return a list of dictionaries.

In [1]:
# Your code here

In [1]:
# import libraries
import requests as req
from bs4 import BeautifulSoup
import re
import mysql.connector

In [18]:
# urls

URL='https://www.top500.org/lists/top500/'


top_lst=['2014/11/?page=1', 
         '2014/11/?page=2',
         '2014/11/?page=3',
         '2014/11/?page=4',
         '2014/11/?page=5',
         '2015/11/?page=1', 
         '2015/11/?page=2',
         '2015/11/?page=3',
         '2015/11/?page=4',
         '2015/11/?page=5',
         '2016/11/?page=1', 
         '2016/11/?page=2',
         '2016/11/?page=3',
         '2016/11/?page=4',
         '2016/11/?page=5',
         '2017/11/?page=1', 
         '2017/11/?page=2',
         '2017/11/?page=3',
         '2017/11/?page=4',
         '2017/11/?page=5',
         '2018/11/?page=1', 
         '2018/11/?page=2',
         '2018/11/?page=3',
         '2018/11/?page=4',
         '2018/11/?page=5']

In [19]:
# scraping

def scraping(label, url):
    
    res = req.get(url)
    soup = BeautifulSoup(res.text, 'html.parser')
    scrap = soup.find_all(label)
    
    return scrap

In [20]:
# all info tables

def all_tables(url_lst):
    
    lst=[]
    
    for i in range(len(url_lst)):
        table=scraping('td', URL+url_lst[i])
        for j in range(len(table)):
            data=table[j]
            lst.append(data)
        
    return lst

In [21]:
info=all_tables(top_lst)

In [22]:
# ranking

def ranking(lst):
    
    rank=[]
    
    for e in lst:
        s=str(e).split('span')
        if len(s)==3:
            rank.append(int(re.findall('[0-9]+',str(str(e).split('span')[1]))[0]))
    
    return rank

In [23]:
# name 

def name(lst):
    
    n=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=(str(lst[i+2]).split('<a href')[1].split(',')[0].split('>')[1:])
            if len(prov[0])==3:
                n.append(prov[1].split('<')[0])
            else:
                n.append(prov[0])
    
    return n

In [24]:
# year

def year():
    
    y=[]

    for i in range(2500):
        if i<500: y.append(2014)
        if i>=500 and i<1000: y.append(2015)
        if i>=1000 and i<1500: y.append(2016)
        if i>=1500 and i<2000: y.append(2017)
        if i>=2000 and i<2500: y.append(2018)
            
    return y

In [25]:
# description

def description(lst):
    
    d=[]

    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            place=str(lst[i+1]).split('>')[-4].split('<')[0]
            model=str(lst[i+2]).split(',')[0].split('>')[-1].split(' ')[-1]
            rest=str(lst[i+2]).split(',')[1:]
            
            if len(rest)==0:
                d.append(place+' '+model)
            elif len(rest)>1:
                d.append(place+' '+model+' '+rest[0]+' '+rest[1].split('\n')[0])
            else:
                d.append(place+' '+model+' '+rest[0])
    
    return d

In [26]:
# company

def company(lst):
    
    c=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            c.append(str(lst[i+2]).split(',')[-1].split('</br')[-2].split('>')[-1])
            
    return c

In [27]:
# country

def country(lst):
    
    co=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            co.append(str(lst[i+1]).split('>')[-2].split('<')[0])
    
    return co

In [28]:
# cores

def cores(lst):
    
    cor=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+3]))
            cor.append(int(re.findall('[0-9.]+',prov)[0]))
    
    return cor

In [29]:
# RMax (TFlops/s)

def r_max(lst):
    
    r=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+4]))
            r.append(float(re.findall('[0-9.]+',prov)[0]))
    
    return r

In [30]:
# RPeak (TFlops/s)

def r_peak(lst):
    
    r=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+5]))
            r.append(float(re.findall('[0-9.]+',prov)[0]))
    
    return r

In [31]:
# power (kW)

def power(lst):
    
    p=[]
    
    for i in range(len(lst)):
        s=str(lst[i]).split('span')
        if len(s)==3:
            prov=re.sub(',', '', str(lst[i+6]))
            number=re.findall('[0-9.]+',prov)
            if number==[]:
                p.append(0)
            else:
                p.append(int(number[0]))
            
    return p

In [32]:
# top supercomputers

def top_500():
    
    ran = ranking(info)
    n = name(info)
    y = year()
    desc = description(info)
    com = company(info)
    coun = country(info)
    cor = cores(info)
    rmax = r_max(info)
    rpeak = r_peak(info)
    po = power(info)
    
    
    result=[{'ranking':ran[i], 'name':n[i], 'year':y[i], 
             'description':desc[i], 'company':com[i], 'country':coun[i],
             'cores':cor[i], 'rmax':rmax[i],
             'rpeak':rpeak[i], 'power':po[i]} for i in range(len(ran))]
    
    return result

In [33]:
# checking

top_500()[-1]

IndexError: list index out of range


# 1-B


When you complete this task, you need to save the information in a SQL database. For that:
1. Install MySQL and MySQL connector for Python.
2. Start MySQL server on your computer. 
3. Create a new empty database. 
4. Create a table for store the data. As an example, the table could be:
 ```sql
   CREATE TABLE top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);
```

In [19]:
# Your code here

In [20]:
# results

results=top_500()

In [21]:
# checking

results[0]

{'ranking': 1,
 'name': 'Tianhe-2A',
 'year': 2014,
 'description': 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2',
 'company': 'NUDT',
 'country': 'China',
 'cores': 3120000,
 'rmax': 33862.7,
 'rpeak': 54902.4,
 'power': 17808}

In [22]:
# create sql database

create_db = mysql.connector.connect(host='localhost', user='admin', passwd='password')

cursor = create_db.cursor()

cursor.execute('drop database if exists SuperComputers')
cursor.execute('create database SuperComputers')

In [23]:
# checking

cursor.execute('show databases')
for x in cursor:
  print(x)

('information_schema',)
('Apps',)
('Q3',)
('SuperComputers',)
('lab-mysql',)
('mydb',)
('mysql',)
('performance_schema',)
('publis',)
('sys',)

In [24]:
# connect to database

db = mysql.connector.connect(host='localhost', user='admin', passwd='password', database='SuperComputers')

cursor = db.cursor()

In [25]:
# create table


cursor.execute('use SuperComputers;')

cursor.execute("drop table if exists top_500;") 

table = '''create table top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);'''

cursor.execute(table)

In [26]:
# checking

cursor.execute('show tables')
for x in cursor:
  print(x)

('top_500',)

In [27]:
# insert query

for i in range(len(results)):
    insert_query = 'insert into {} ({}) values {};'\
                   .format('top_500', ','.join(results[i].keys()), tuple(results[i].values()))

    cursor.execute(insert_query)
    
db.commit()

In [28]:
# checking

cursor.execute('select * from top_500 limit 2')
for x in cursor:
  print(x)

(1, 'Tianhe-2A', 2014, 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2', 'NUDT', 'China', 3120000, 33862.7, 54902.4, 17808)
(2, 'Titan', 2014, 'DOE/SC/Oak Ridge National Laboratory XK7  Opteron 6274 16C 2.200GHz  Cray Gemini interconnect', 'Cray Inc.', 'United States', 560640, 17590.0, 27112.5, 8209)

# TOP 500 supercomputer mining - Challenge 2

In this challenge use Pandas to read the search results data in your MySQL table. Create a DataFrame that contains all the search results, then generate a data visualization plot (or several) from the DataFrame.

Try to answer the following questions:

* Is there a relationship between year and consumed power?
* And between power and cores?
* Which is the company with more supercomputers?
* Which country have more computacional power?
* The computacional power has increased over the years?

In [1]:
import mysql.connector 
import pandas as pd                   
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
db = mysql.connector.connect(host='localhost', user='root', passwd='password', database='SuperComputers')

cursor = db.cursor()

cursor.execute('select * from top_500')

data = cursor.fetchall()

ProgrammingError: 1049 (42000): Unknown database 'SuperComputers'

In [ ]:
df = pd.DataFrame(data, columns=cursor.column_names)

print ('Data readed from MySQL.')

display (df.head())

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize=(15,10))
plt.title('Correlation')
sns.heatmap(df.corr(), annot=True);

# Is there a relationship between year and power?

In [ ]:
by_year=df.groupby('year').sum()
plt.figure(figsize=(10,7))
plt.title('kW consumed by year')
plt.ylabel('kW')
by_year.power.plot.bar();

In [ ]:
df_year_kw=df[['year', 'power']]
plt.figure(figsize=(10,7))
plt.title('Correlation power-year')
sns.heatmap(df_year_kw.corr(), annot=True);

Apparently, there is no correlation between year and consumed power, but from 2016 to 2018 the power needed for the top 500 supercomputers has descended, almost to 2014 levels.

# Is there a relationship between power and cores?

In [ ]:
plt.figure(figsize=(10,7))
plt.title('Correlation power-cores (Pearson)')
sns.heatmap(df[['power', 'cores']].corr(method='pearson'), annot=True);

In [ ]:
plt.figure(figsize=(10,7))
plt.title('Correlation power-cores (Spearman)')
sns.heatmap(df[['power', 'cores']].corr(method='spearman'), annot=True);

In [ ]:
plt.figure(figsize=(10,7))
plt.title('Correlation power-cores (Kendall)')
sns.heatmap(df[['power', 'cores']].corr(method='kendall'), annot=True);

Seems like there is linear and non-linear correlation between power and cores, not much significant, but Pearson correlation in 0.36 and Spearman correlation in 0.47, meaning that to increase cores in a computer implies more power requeriments.

# Which is the company with more supercomputers?

In [ ]:
df.company.value_counts().head()

The 5 companies with more supercomputers are HPE, Lenovo, CRay Inc., IBM and Sugon.

# Which country have more computacional power?

In [ ]:
by_country=df.groupby('country').sum().reset_index()
by_country.head()

In [ ]:
by_country.loc[by_country.rmax==list(by_country.rmax.sort_values(ascending=False))[0]].country

In [ ]:
by_country.loc[by_country.rpeak==list(by_country.rpeak.sort_values(ascending=False))[0]].country

In [ ]:
by_country.loc[by_country.cores==list(by_country.cores.sort_values(ascending=False))[0]].country

The country with the highest R-Max is USA, but the country with more R-Peak and more cores is China.

# The computacional power has increased over the years?

In [ ]:
plt.figure(figsize=(10,7))
plt.title('R-max (TFlops/s) by year')
plt.ylabel('R-Max')
by_year.rmax.plot.bar();

In [ ]:
plt.figure(figsize=(10,7))
plt.title('R-peak (TFlops/s) by year')
plt.ylabel('R-peak')
by_year.rpeak.plot.bar();

In [ ]:
plt.figure(figsize=(10,7))
plt.title('Cores by year')
plt.ylabel('Cores')
by_year.cores.plot.bar();

R-Max and R-Peak are increasing over the years. However, the cores number in 2018 are less than in previous years.